html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color :#0A423F;
}

* {
    box-sizing: border-box;
  }

/*NAVBAR TOP*/
.button{ 
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1vw;
    text-align: center;
    color: white !important;
    padding: auto ;
    width:auto ;
    letter-spacing: 0.1em;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }


.stay{
    color: #EFAB46 !important; 
    letter-spacing: 0.1em;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1vw;

    text-align: center;
    padding: auto;
    width: auto;
}


.button:hover {
  background-color:#EFAB46 ; 
  border-radius: 12px;
}

    
.fontingc2:hover{
    color:#EFAB46;
}

/*HOMEPAGE*/
#profpic{
    border-radius: 50%;
    width: auto;
    height: 20vh;
}
#fontingh1{
    color: #EFAB46;
    line-height: 10vh;
    text-align: center;
    width: auto;


    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 3vw;
    text-align: center;
    letter-spacing: 0.3em;
    }

.fontingh2{
    color: #FFFFFF;
    width: auto; 

        
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 2vw;
    text-align: left;
    }

#here{
    text-align: left; 
    color: #EFAB46;
    }

    /* PROFILE PAGE*/
.fontingp1{

    text-align: center; 
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 2vw;
    letter-spacing: 0.15em;
    color: #EFAB46;
}



.fontingp2{
    text-align: left; 
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5vw;
    line-height: 4.5vh; 
    color: #FFFFFF
    
}

.ability {
    text-align: left; 
}

 /* EXPERIENCE PAGE*/

#experience{
    line-height: 5vh;
}
 .fontinge1{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5vw;
    line-height: 4.5vh;
    text-align: center;
    color: #EFAB46;
}

.fontinge2{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5vw;

    line-height: 4.5vh;
    text-align: justify;
    color: #FFFFFF;
}

 /* CONTACT ME PAGE*/

#fontingc1{
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 2vw;
    line-height: 10vw; 
 
    letter-spacing: 0.15em;
    color: #EFAB46;
}

.fontingc2{
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 3vw;
    line-height: 10vh;
    letter-spacing: 0.15em;
    color: #FFFFFF;
}





 






