<!DOCTYPE html>
{% load static %}
<html lang ="en">
    <head>
        <title> Naura Khansa Priono</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel ="stylesheet" href = "{% static 'css/story3.css' %}">
    </head>
    <body>
        <body>
             <header>
                <nav  class="navbar navbar-expand-lg navbar-light bg-transparant" role=navigation>
                    <div class=mr-auto>
                            <ul class="nav navbar-nav ">
                                <li class=" hover nav-item ">
                                     <a class="button nav-link" href="/index/">HOME</a>
                                </li>
                            </ul>
                    </div>
                    <div class=ml-auto>
                        <ul class="nav navbar-nav ">
                            <li class=" hover nav-item">
                                <a class="button nav-link" href="/profile/">PROFILE</a>
                            </li>
                            <li class=" nav-item active">
                                <a class="button nav-link" href="/experience/">EXPERIENCE</a>
                            </li>
                        
                            <li class="hover nav-item">
                                <a class="button nav-link" href="/contact/">CONTACT</a>
                            </li>
                            <li class="hover nav-item">
                                <a class="stay nav-link disabled" href="#">ADD ACTIVITIES</a>
                            </li>
            
                            <li class="hover nav-item">
                                <a class="button nav-link" href="/lihat_jadwal/">TO DO</a>
                            </li>

                            <li class="hover nav-item">
                                <a class="button nav-link" href="/deletejadwal/">DELETE ACTIVITIES<a>
                            </li>
                        </ul>
                    </div>
                </nav>
        </header>
    
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">

        <div class= "my-5 container fontingp2">
            <div class = text-center>
                <p class="fontingp1" > ADD ACTIVITIES </p>
            </div>
            <form method = "POST" action="/jadwal_tambah/">
                {% csrf_token %}
                <table>
                    {{form.as_table}}
                </table>
                <input type="submit" value="add">
            </form>
        </div>
    </body>
</html>