
html body {
    background-color :#0A423F;

}

/*NAVBAR TOP*/
.button{ 
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: white !important;
    padding: 10px 60px;
    width:200px;
    letter-spacing: 0.1em;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }


.stay{
    color: #EFAB46 !important; 
    letter-spacing: 0.1em;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    padding: 10px 60px;
    width:200px;
}


.button:hover {
  background-color:#EFAB46 ; /* Green */
  border-radius: 12px;
}

    
.fontingc2:hover{
    color:#EFAB46;
}

/*FOOTER*/
.footer{
    position: absolute;
    width: 300px;
    height: 58px;
    left: 29px;
    top: 1004px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #FFFFFF
}
#f2{ 
    left:200px;
    color:#EFAB46;
}
#f3{
    left:350px;
    color:#EFAB46;
}

#f4{
    position: absolute;
    width: 448px;
    height: 50px;
    left: 1488px;
    top: 1004px;
}


}
#f4{ left:1488px;}

  /* HOME PAGE*/
#profpic{
    border-radius: 50%;
    position: absolute;
    width: 250px;
    height: 250px;
    left: 835px;
    top: 150px;
    
}
#fontingh1{
    
    color: #EFAB46;
    position: absolute;
    text-align: center;
    width: 1406px;
    height: 50px;
    left: 257px;
    top: 450px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    letter-spacing: 0.3em;

    }

.fontingh2{
    color: #FFFFFF;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
    text-align: center;

}

#line1 {
    /* Hi, I'm Ola. */
position: absolute;
width: 630px;
height: 50px;
left: 30px;
top: 551px;
}

#line2{
/* Currently an Information System student at Universitas Indonesia, on the 3rd semester. */
position: absolute;
width: 1200px;
height: 86px;
left: 250px;
top: 651px;
text-align: left;
}

#line3{
/* Get to know more about me here. */
position: absolute;
width: 856px;
height: 54px;
left: 250px;
top: 787px;
text-align: left; 
}

#here{
position: absolute;
width: 856px;
height: 54px;
left: 755px;
top: 787px;
text-align: left; 
color: #EFAB46;
}


 /* PROFILE PAGE*/
.fontingp1{

font-family: Oswald;
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 71px;
text-align: center;
letter-spacing: 0.15em;
color: #EFAB46;

}

#details{
    position: absolute;
    width: 630px;
    height: 50px;
    left: 268px;
    top: 138px;
}

#education{
    position: absolute;
    width: 630px;
    height: 50px;
    left: 994px;
    top: 138px;
}

#aboutme{
    position: absolute;
    width: 630px;
    height: 50px;
    left: 270px;
    top: 565px; 
}

#ability{
    position: absolute;
    width: 630px;
    height: 50px;
    left: 1001px;
    top: 565px;
}

.fontingp2{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    
}

#details2{
    position: absolute;
    width: 415px;
    height: 44px;
    left: 359px;
    top: 235px;
    text-align: left;
    line-height: 40px;
    
}

#aboutme2{
    position: absolute;
    width: 515px;
    height: 180px;
    left: 310px;
    top: 662px;
    text-align: justify; 
    line-height: 40px;
}

#education2{
    position: absolute;
    width: 570px;
    height: 240px;
    left: 1010px;
    top: 235px;
    line-height:40px;
}



#skills{
    position: absolute;
    width: 188px;
    height: 44px;
    left: 1001px;
    top: 662px;
}

#language{
    position: absolute;
    width: 250px;
    height: 44px;
    left: 1001px;
    top: 801px;
}

#listskills{
    position: absolute;
    width: 181px;
    height: 69px;
    left: 1189px;
    top: 662px;
    text-align: left;
    text-align: justify; 
}

#listskills2{
    position: absolute;
    width: 181px;
    height: 69px;
    left: 1370px;
    top: 662px;
    text-align: left;
    text-align: justify; 
}

#listlanguage{
    position: absolute;
    width: 400px;
    height: 69px;
    left: 1189px;
    top: 801px;
    text-align: left;
    text-align: justify; 
}
 /* EXPERIENCE PAGE*/
.fontinge1{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #EFAB46;
}

.fontinge2{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-align: justify;
    color: #FFFFFF;
}

#experience{
    position: absolute;
    width: 630px;
    height: 50px;
    left: 645px;
    top: 137px;
}

#e1{     
    position: absolute;
    width: 600px;
    height: 74px;
    left: 256px;
    top: 308px;
}

#e2{
    position: absolute;
    width: 600px;
    height: 60px;
    left: 960px;
    top: 278px;
    line-height: 40px;
}

#e3{
    position: absolute;
    width: 600px;
    height: 69px;
    left: 256px;
    top: 609px;

}

#e4{       
    position: absolute;
    width: 600px;
    height: 358px;
    left: 965px;
    top: 493px;
    line-height: 40px;
}

#e5{
    left: 736px;
}
#e6{
    left: 657px;
    color:#EFAB46;
}

.fontinge3{
    
    position: absolute;
    width: 448px;
    height: 50px;
    top: 1004px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #FFFFFF
}

 /* CONTACT ME PAGE*/

#fontingc1{
    position: absolute;
    width: 1159px;
    height: 50px;
    left: 380px;
    top: 318px;

    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 71px;
    text-align: center;
letter-spacing: 0.15em;

color: #EFAB46;
}

.fontingc2{
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 71px;
    text-align: center;
    letter-spacing: 0.15em;
    color: #FFFFFF;
}
 
#wa{    
    position: absolute;
    width: 448px;
    height: 197px;
    left: 512px;
    top: 458px;
}

#mail{
    position: absolute;
width: 448px;
height: 197px;
left: 960px;
top: 458px;
}





   



