<!DOCTYPE html>
{% load static %}
<html lang = "en">
    <head>
        <title> Naura Khansa Priono</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel ="stylesheet" href = "{% static 'css/story3.css' %}">
    </head>
    <body>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
        
    
    </head>
    <body>
             <header>
                <nav  class="navbar navbar-expand-lg navbar-light bg-transparant" role=navigation>
                    <div class=mr-auto>
                            <ul class="nav navbar-nav ">
                                <li class=" hover nav-item ">
                                     <a class="button nav-link" href="/index/">HOME</a>
                                </li>
                            </ul>
                    </div>
                    <div class=ml-auto>
                        <ul class="nav navbar-nav ">
                            <li class=" hover nav-item">
                                <a class="button nav-link" href="/profile/">PROFILE</a>
                            </li>
                            <li class=" nav-item active">
                                <a class="button nav-link" href="/experience/">EXPERIENCE</a>
                            </li>
                        
                            <li class="hover nav-item">
                                <a class="stay nav-link disable" href="#">CONTACT</a>
                            </li>
                            <li class="hover nav-item">
                                <a class="button nav-link" href="/addjadwal/">ADD ACTIVITIES</a>
                            </li>
            
                            <li class="hover nav-item">
                                <a class="button nav-link" href="/lihat_jadwal/">TO DO</a>
                            </li>

                            <li class="hover nav-item">
                                <a class="button nav-link" href="/deletejadwal/">DELETE ACTIVITIES<a>
                            </li>
                        </ul>
                    </div>
                </nav>
        </header>


        <div class= "my-5 container">
            <div class = text-center>
                <P id=fontingc1> Please feel free to contact me through : </P>
            </div>

            <div class = row>
                <div class = "text-center col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a href = "https://wa.me/6285780028679" class=fontingc2 > WHATSAPP</a>
                </div>

                <div class = "text-center col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a href="mailto: naura.khansa@ui.ac.id"class=fontingc2 > EMAIL</a>
                </div>
            </div>
            <div class = row>
                <div class = "text-center col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a href = "https://www.linkedin.com/in/naura-khansa" class=fontingc2 > LINKED IN</a>
                </div>

                <div class = "text-center col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a href="https://www.instagram.com/naurakhnsa"class=fontingc2 >INSTAGRAM</a>
                </div>
            </div> 
        </div>

    </body>
</html>