<!DOCTYPE html>
{% load static %}
<html lang = "en">
    <head>
        <title> Naura Khansa Priono</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel ="stylesheet" href = "{% static 'css/story3.css' %}">
    </head>
    <body>
            <header>
                    <nav  class="navbar navbar-expand-lg navbar-light bg-transparant" role=navigation>
                        <div class=mr-auto>
                                <ul class="nav navbar-nav ">
                                    <li class=" hover nav-item ">
                                         <a class="button nav-link" href="/index/">HOME</a>
                                    </li>
                                </ul>
                        </div>
                        <div class=ml-auto>
                            <ul class="nav navbar-nav ">
                                <li class=" hover nav-item">
                                    <a class="button nav-link" href="/profile/">PROFILE</a>
                                </li>
                                <li class=" nav-item active">
                                    <a class="stay nav-link disbaled" href="#">EXPERIENCE</a>
                                </li>
                            
                                <li class="hover nav-item">
                                    <a class="button nav-link" href="/contact/">CONTACT</a>
                                </li>
                                <li class="hover nav-item">
                                    <a class="button nav-link" href="/addjadwal/">ADD ACTIVITIES</a>
                                </li>
                
                                <li class="hover nav-item">
                                    <a class="button nav-link" href="/lihat_jadwal/">TO DO</a>
                                </li>
    
                                <li class="hover nav-item">
                                    <a class="button nav-link" href="/deletejadwal">DELETE ACTIVITIES</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
            </header>
    

        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">

        <div class = "my-5 container">
            <div class = text-center>
                <p class="fontingp1" id="experience"> EXPERIENCE</p>
            </div>

            <div class = row>
                <div class = " col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <p class= "fontinge1 " > Duta Edupreneur 1.0 by Pintek (July 2019 - Present)  </p>
                </div>
                <div class = "col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <p class= "fontinge2 " > As a member of this organization and community, I gain a lot of insights about education, entrepreneurship and organizational skills. </p>
                </div>
            </div>

            <div class = row>
                    <div class = "col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <p class= "fontinge1 " > VPIC of Decoration and Costume at COMPFEST 11 <br>(January- September 2019)  </p>
                    </div>

                    <div class = "col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <p class= "fontinge2 " > I’m currently the Vice Person In Charge of The Decoration and Costume division at COMPFEST 11, the biggest IT event held by students in Indonesia. Working with a small team, consisting of 7 staffs with different personalities and characteristics, this role teaches me how to work as a team and teaches me how to manage my staffs. This role improves my ability to schedule, plan, and handle various tasks at once. Also, this position lets me work with creative companies that focuses on interactive human experience. </p>    
                    </div>
            </div>

        </div>
    </body>
</html>
