<!DOCTYPE html>
{% load static %}
<html lang = "en">
    <head>
        <title> Naura Khansa Priono</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel ="stylesheet" href = "{% static 'css/story3.css' %}">
    </head>
    <body>
        <header>
            <nav  class="navbar navbar-expand-lg navbar-light bg-transparant" role=navigation>
                <div class=mr-auto>
                        <ul class="nav navbar-nav ">
                            <li class=" hover nav-item ">
                                 <a class="stay nav-link disable" href="#">HOME</a>
                            </li>
                        </ul>
                </div>
                <div class=ml-auto>
                    <ul class="nav navbar-nav ">
                        <li class=" hover nav-item">
                            <a class="button nav-link" href="/profile/">PROFILE</a>
                        </li>
                        <li class=" nav-item active">
                            <a class="button nav-link" href="/experience/">EXPERIENCE</a>
                        </li>
                    
                        <li class="hover nav-item">
                            <a class="button nav-link" href="/contact/">CONTACT</a>
                        </li>
                        <li class="hover nav-item">
                            <a class="button nav-link" href="/addjadwal/">ADD ACTIVITIES</a>
                        </li>
        
                        <li class="hover nav-item">
                            <a class="button nav-link" href="/lihat_jadwal/">TO DO</a>
                        </li>

                        <li class="hover nav-item">
                            <a class="button nav-link" href="/deletejadwal/">DELETE ACTIVITIES<a>
                        </li>
                    </ul>
                </div>
            </nav>
    </header>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">

        <div class="my-5 container">
            <div class="text-center">
                <img id=profpic src= "{% static 'pics/pp.jpg'%}">
            </div>
            <p class="text-center" id= fontingh1> NAURA KHANSA PRIONO </p>
            <p class="my-3 fontingh2">Hi, I'm Ola.</p>
            <p class="my-3 fontingh2">Currently an Information System student at Universitas Indonesia,
                    on the 3rd semester.</p>
            <p class="my-3 fontingh2">Get to know more about me</p>
            <a href="/profile/" class="my-3 fontingh2" id=here>here.</a>
        </div>
    </body>
</html>