<!DOCTYPE html>
{% load static %}
<html lang = "en">
    <head>
        <title> Naura Khansa Priono</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel ="stylesheet" href = "{% static 'css/story3.css' %}">
    </head>
    <body>
        <header>
            <nav  class="navbar navbar-expand-lg navbar-light bg-transparant" role=navigation>
                <div class=mr-auto>
                        <ul class="nav navbar-nav ">
                            <li class=" hover nav-item ">
                                 <a class="button nav-link" href="/index/">HOME</a>
                            </li>
                        </ul>
                </div>
                <div class=ml-auto>
                    <ul class="nav navbar-nav ">
                        <li class=" hover nav-item">
                            <a class="stay nav-link disable" href="#">PROFILE</a>
                        </li>
                        <li class=" nav-item active">
                            <a class="button nav-link" href="/experience/">EXPERIENCE</a>
                        </li>
                    
                        <li class="hover nav-item">
                            <a class="button nav-link" href="/contact/">CONTACT</a>
                        </li>
                        <li class="hover nav-item">
                            <a class="button nav-link" href="/addjadwal/">ADD ACTIVITIES</a>
                        </li>
        
                        <li class="hover nav-item">
                            <a class="button nav-link" href="/lihat_jadwal/">TO DO</a>
                        </li>

                        <li class="hover nav-item">
                            <a class="button nav-link" href="/deletejadwal/">DELETE ACTIVITIES<a>
                        </li>
                    </ul>
                </div>
            </nav>
    </header>
        
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
        <div class="container">
            <div class="row">
                <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <p class=" my-3 fontingp1" > DETAILS</p>
                    <p class="fontingp2 "> 
                        Name&emsp;&emsp;&emsp;: Naura Khansa Priono <br>
                        Age&emsp;&emsp;&emsp;&emsp;: 19 <br>
                        Location&emsp;&emsp;: Depok, Indonesia <br>
                        Phone&emsp;&emsp;&emsp;: +6285780028679
                    </p>
                </div>
               
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <p class=" my-3 fontingp1"> EDUCATION</p>
                    <p class= fontingp2 > 
                        2018 – Present&ensp;&ensp;&nbsp;| Universitas Indonesia, Information System<br>
                        2016 – 2018&emsp;&emsp;&ensp;| SMAN 2 Depok <br>
                        2014 – 2016&emsp;&emsp;&ensp;| Tenby International School, Penang<br>
                    </p>
                </div>
            </div>
        </div>

       

        <div class="container">
            <div class="row">
                <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <p class=" my-3 fontingp1" > ABOUT ME</p>
                    <p class= fontingp2> 
                            A highly committed, discipline and organized person who is always interested in new experiences, especially the ones related to my study, which is IT. Enjoys both working as individuals and as a team. Highly interested in creativity, management and marketing.
                        </p>
                </div>

            <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <p class=" my-3 fontingp1"> ABILITY</p>

                <p class= "fontingp2 ability">Skills :   </p>
                <ul class= "fontingp2 ability">
                    <li >Leadership</li>
                    <li >Teamwork</li>
                    <li>Detail-oriented</li>
                </ul>
          
                
                <p class= "fontingp2 ability"> Language : </p>
                <ul class= "fontingp2 ability">
                    <li>Bahasa Indonesia (native speaker) </li>
                    <li>English </li>
                    <li>German (elementary proficiency) </li>
                </ul>
            </div>
        </div>

     
    
         
     
 
    </body>
</html>